.index {
    background-color: #ffffee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #ffffee;
    height: 1750px;
    position: relative;
    width: 1440px;
    flex-direction: column;
    align-items: center;
  }
  
  .index .rectangle {
    object-fit: cover;
    position: absolute;
  }
  
  .index .img {
    height: 410px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .overlap {
    height: 654px;
    left: 122px;
    position: absolute;
    top: 470px;
    width: 1203px;
  }
  
  .index .overlap-group {
    height: 654px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1203px;
  }
  
  .index .rectangle-2 {
    height: 654px;
    left: 486px;
    position: absolute;
    top: 0;
    width: 717px;
  }
  
  .index .frame {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    height: 130px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 17px;
    width: 490px;
  }
  
  .index .rectangle-3 {
    background-color: var(--pink);
    height: 105px;
    position: relative;
    width: 7px;
  }
  
  .index .weather-overview {
    color: transparent;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    height: 197px;
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    margin-bottom: -87.32px;
    position: relative;
    transform: rotate(-0.37deg);
    width: 408px;
  }
  
  .index .text-wrapper {
    color: #bbc8cd;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
  }
  
  .index .span {
    color: #cae0e7;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
  }
  
  .index .text-wrapper-2 {
    color: #ffb6c1;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
  }
  
  .index .text-wrapper-3 {
    color: #000000;
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
  }
  
  .index .overlap-2 {
    height: 484px;
    left: 27px;
    position: absolute;
    top: 163px;
    width: 377px;
  }
  
  .index .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .index .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .index .rectangle-4 {
    background-color: var(--pink);
    height: 484px;
    position: relative;
    width: 377px;
  }
  
  .index .rectangle-5 {
    background-color: #ffffee;
    height: 150px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 175px;
  }
  
  .index .rectangle-6 {
    background-color: #ffffee;
    height: 150px;
    left: 194px;
    position: absolute;
    top: 7px;
    width: 175px;
  }
  
  .index .rectangle-7 {
    background-color: #ffffee;
    height: 150px;
    left: 7px;
    position: absolute;
    top: 167px;
    width: 175px;
  }
  
  .index .rectangle-8 {
    background-color: #ffffee;
    height: 150px;
    left: 194px;
    position: absolute;
    top: 167px;
    width: 175px;
  }
  
  .index .rectangle-9 {
    background-color: #ffffeefe;
    height: 150px;
    left: 194px;
    position: absolute;
    top: 327px;
    width: 175px;
  }
  
  .index .rectangle-10 {
    background-color: #ffffee;
    height: 150px;
    left: 7px;
    position: absolute;
    top: 327px;
    width: 175px;
  }
  
  .index .text {
    color: #000000;
    font-family: "Space Mono", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: 24.2px;
    position: absolute;
    top: 16px;
    width: 172px;
  }
  
  .index .frame-4 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 133px;
    justify-content: center;
    left: 17px;
    padding: 10px;
    position: absolute;
    top: 7px;
  }
  
  .index .current-city {
    color: var(--red);
    font-family: "Saira Condensed-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    width: 132px;
  }
  
  .index .text-wrapper-4 {
    color: var(--red);
    font-family: "Saira Condensed-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.4px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .index .frame-5 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 133px;
    justify-content: center;
    left: 198px;
    padding: 10px;
    position: absolute;
    top: 7px;
  }
  
  .index .precipitation {
    color: var(--red);
    font-family: "Saira Condensed-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.4px;
    margin-top: -1px;
    position: relative;
    width: 151px;
  }
  
  .index .text-wrapper-5 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 93px;
  }
  
  .index .text-wrapper-6 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 386px;
    width: 93px;
  }
  
  .index .text-wrapper-7 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 235px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 386px;
    width: 93px;
  }
  
  .index .text-wrapper-8 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 237px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 63px;
    width: 93px;
  }
  
  .index .text-wrapper-9 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 223px;
    width: 93px;
  }
  
  .index .text-wrapper-10 {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 237px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 223px;
    width: 93px;
  }
  
  .index .rectangle-11 {
    height: 305px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1445px;
    width: 1440px;
  }
  
  .index .rectangle-12 {
    height: 410px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
  }
  
  .index .rectangle-13 {
    height: 142px;
    position: relative;
    width: 710px;
  }
  
  .index .brrr-city-is {
    color: #666666;
    font-family: "Space Mono", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: 24.2px;
    position: absolute;
    top: 11px;
    width: 666px;
  }
  
  .index .weather-app {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 71px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 604px;
  }
  
  .index .candy-land {
    color: var(--pink);
    font-family: "Modak", Helvetica;
    font-size: 80px;
    font-weight: 400;
    height: 71px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 604px;
  }
  
  .index .start-wrapper {
    background-color: #ffb6c1;
    align-items: center;
    display: inline-flex;
    gap: 27px;
    justify-content: center;
    left: 606px;
    padding: 18px 70px;
    position: absolute;
    top: 1168px;
    border-radius: 20px;
  }
  
  .index .start {
    color: #ffffee;
    font-family: "Modak", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  